#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  
}

*{
  font-family: Poppins, sans-serif;
}


.main{
  box-sizing: border-box;

  padding: 50px 50px;
  border-radius: 10px;
  background-color: #09dadd;
  width: 50%;
  margin: 0 auto;
}

.main h1{
  font-size: 45px;
margin-top: -10px;
}

div > input{
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
  width: 68%;
  height: 25px;
  color:black;

}

button{
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #4ac44e;
  color: white;
  border: ipx solid #4ac44e;
  cursor: pointer;
}



.add-button{
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}

.delete-button{
  background-color: hsl(10, 90%, 50%);
}

.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}

.move-button{
  background-color: hsl(207, 90%, 64%);
}

.move-button:hover{
  background-color: hsl(207, 90%, 54%);
}

input[type="text"]{
  font-size: 1.3rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
  

}

ol{
  padding: 0;
}

li{

  font-size: 1rem;
  font-weight: bold;
  padding: 7px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 1px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  gap: 12px;
  margin-bottom: 15px;
}

.text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1rem;
  margin-left: 10px;
}
.completed {
  
  text-decoration: line-through;
  color: rgb(207, 31, 31);
}
.text {
  cursor: pointer;
}
